@import url('https://fonts.googleapis.com/css?family=Nunito');

$regularFontFamily:     'Nunito', Arial, sans-serif;
$boldFontFamily:        'NunitoBold', "Arial Bold", sans-serif;
$ligthFontFamily:       'NunitoLight', Arial, sans-serif;
$secundaryFontFamily:   Arial, Helvetica, sans-serif;
$breakpoint_phone: 768px !default;
$breakpoint_tablet: 980px !default;

@media (max-width: $breakpoint_phone){
    div.archive-icon > .icon{
        display: none;
    }

    .icon.icon__archive{
        display: none;
    }

    .icon.search-icon{
        float: left;
        background: url("../images/svg/search-solid.svg") no-repeat center;
        height: 30px;
        width: 30px;
        margin: 10px 0px 0px -40px;
    }

    .notifications-center__header .title {
        padding-left: 15px !important;
    }

    .notifications-center__header .filter-input {
        background-color: #FFFFFF;
        border: 1px solid #BBBBBB;
        border-radius: 3px;
        height: 45px;
        width: 100%;
        margin-left: 15px;
        margin-bottom: 6px;
        font-family: "Nunito", Arial, sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        padding-left: 15px;
    }

    .notifications-center__list .notification .info {
        width: 100%;
        display: flex;
        align-items: baseline;
        // justify-content: space-evenly;
        margin: 10px 0px 0px 10px;

        .archive-option{
            flex-grow: 2;
        }
    }

    .notifications-center__list .notification {
        border: 1px solid #ECECEC;
        border-top-width: 0px;
        border-left-width: 0px;
        background-color: #FFFFFF;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;

        .vertical-line{
            display: none;
        }
    }

    .notifications-center__list .notification .content .content-body {
        display: flex;
        flex-direction: column;
        min-width: 100%;
        padding: 10px 0px 15px 0px;
    }

    .notifications-center__list .notification .content {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        margin: 10px 10px 10px 10px;

        .action {
            background-color: #FFFFFF;
            border: 1px solid #FF5A00;
            border-radius: 3px;
            min-width: 20%;
            height: 40px;

            color: #FF5A00;
            font-family: $regularFontFamily;;
            font-size: 14px;
            font-weight: 700;
            line-height: 17px;
            text-align: center;
            margin: 15px 0px 15px -15px;
        }
    }

    .notification_wrapper{
        display: flex;
        background-color: #FFFFFF;
        .vertical-line {
            max-width: 3px;
            min-width: 3px;
            width: 3px;
            background-color: #FF5A00;
            border-top-right-radius: 50px;
            border-bottom-right-radius: 50px;
            position: relative;
            margin: 4px 0px 4px 0px;
        }
    }

    .notification_wrapper_history {
        display: flex;
        flex-direction: row;
        background-color: #FFFFFF;
        .vertical-line {
            width: 3px;
            max-width: 3px;
            min-width: 3px;
            background-color: #979797;
            border-top-right-radius: 50px;
            border-bottom-right-radius: 50px;
            position: relative;
            margin: 4px 0px 4px 0px;
        }
    }

    .notifications-center__list .notification .content .content-body .icon-and-description .priority-icon {
        display: none;
    }

    .notification .info .priority-icon{
        background: url(../images/svg/exclamation_icon.svg) no-repeat;
        width: 15px;
        height: 15px;
        padding-right: 20px;
        align-self: flex-end;        
    }

    .notifications-fixed__footer{
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #ececec;
        border-top: #7c7c7c solid 1px;
        

        .footer_fixed_wrapper{
            display: flex;
            flex-direction: row;
            height: 39px;
            width: 100%;
            justify-content: space-between;
        }

        .cancel-archive{
            display: flex;
            align-self: flex-end;
            font-family: $regularFontFamily;
            font-size: 12px;
            font-weight: 600;
            color: #7c7c7c;
            height: 20px;
            width: 20px;
            justify-content: center;
            text-align: center;
            flex-direction: column;
            margin: 10px 12px 10px 0px;
        }

        .archive-icon{
            display: flex;
            align-self: center;
            background: url(../images/svg/archive-icon.svg) no-repeat right;
            height: 30px;
            width: 35px;
        }

        .selection_counter{
            display: flex;
            border: #7c7c7c solid 1px;
            border-radius: 4px;
            height: 20px;
            width: 20px;
            background-color: #ffffff;
            text-align: center;
            justify-content: center;
            flex-direction: column;
            margin: 10px 0px 10px 12px;
            font-family: $regularFontFamily;
            font-size: 10px;
            color: #7c7c7c; 
        }

    }

    .notifications-center__list .notification .info .selection {
        width: 14px;
        height: 14px;
        margin-right: 20px;
    }

    #mainArchiveIconMobile{
        cursor: pointer;
    }

    #uncheckAllMobile{
        cursor: pointer;
    }

}

@media (min-width:$breakpoint_phone) and (max-width: $breakpoint_tablet){
    .notifications-center__list .notification .info {
        width: 15%;
        display: flex;
        align-items: baseline;
        justify-content: space-evenly;
        margin-top: 38px;
    
    }

    .icon.search-icon{
     display: none;
    }

    .filter-input {
        background-color: #FFFFFF;
        border: 1px solid #BBBBBB;
        border-radius: 3px;
        height: 45px;
        width: 53%;
        margin-left: 24px;
        margin-bottom: 6px;

        font-family: $regularFontFamily;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        padding-left: 15px;
    }

    .notifications-center__list .notification .content .content-body {
        display: flex;
        flex-direction: column;
        min-width: 80%;
    }

    .notifications-center__list .notification {
        border: 1px solid #ECECEC;
        border-top-width: 0px;
        background-color: #FFFFFF;
        height: 90px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        .vertical-line {
            width: 3px;
            background-color: #FF5A00;
            border-top-right-radius: 50px;
            border-bottom-right-radius: 50px;
            height: 90%;
            position: relative;
            top: 4px;
        }
    }

    .notifications-center__list .notification .content {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        margin: 10px 10px 10px 10px;

        .action {
            background-color: #FFFFFF;
            border: 1px solid #FF5A00;
            border-radius: 3px;
            min-width: 20%;
            height: 40px;

            color: #FF5A00;
            font-family: $regularFontFamily;;
            font-size: 14px;
            font-weight: 700;
            line-height: 17px;
            text-align: center;
            margin: 15px 0px 15px -3px;
        }
    }

    .notification:not(.notification-history):hover {
        background-color: #F5F5F5;
        border: 1px solid #BBBBBB;

        .info .archive-option {
            .date {
                position: relative;
                top: -10px;
            }
            .icon {
                visibility: visible;
            }
        }
    }
    .notification.notification-history{
        .vertical-line {
            background-color: #979797;
        }
    }
    .notifications-center__list .notification .content .content-body .icon-and-description .priority-icon {
        background: url(../images/svg/exclamation_icon.svg) no-repeat;
        width: 15px;
        height: 15px;
        padding-right: 20px;
    }    

    .notifications-fixed__footer{
        display: none;
    }

    .notifications-center__list .notification .info .selection {
        width: 14px;
        height: 14px;
    }

    .notification .info .priority-icon{
        display: none;      
    }
}

@media (min-width:$breakpoint_tablet) {

    .notifications-center__list .notification .info {
        width: 15%;
        display: flex;
        align-items: baseline;
        justify-content: space-evenly;
        margin-top: 38px;
    
    }

    .icon.search-icon{
        display: none;
       }

    .filter-input {
        background-color: #FFFFFF;
        border: 1px solid #BBBBBB;
        border-radius: 3px;
        height: 45px;
        width: 53%;
        margin-left: 24px;
        margin-bottom: 6px;

        font-family: $regularFontFamily;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        padding-left: 15px;
    }

    .notifications-center__list .notification .content {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        margin: 10px 10px 10px 10px;

        .action {
            background-color: #FFFFFF;
            border: 1px solid #FF5A00;
            border-radius: 3px;
            min-width: 20%;
            height: 40px;

            color: #FF5A00;
            font-family: $regularFontFamily;;
            font-size: 14px;
            font-weight: 700;
            line-height: 17px;
            text-align: center;
            margin: 15px 0px 15px -15px;
        }
    }

    .notifications-center__list .notification .content .content-body {
        display: flex;
        flex-direction: column;
        min-width: 80%;
    }

    .notifications-center__list .notification {
        border: 1px solid #ECECEC;
        border-top-width: 0px;
        background-color: #FFFFFF;
        height: 90px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        .vertical-line {
            width: 3px;
            background-color: #FF5A00;
            border-top-right-radius: 50px;
            border-bottom-right-radius: 50px;
            height: 90%;
            position: relative;
            top: 4px;
        }
    }

    .notification:not(.notification-history):hover {
        background-color: #F5F5F5;
        border: 1px solid #BBBBBB;

        .info .archive-option {
            .date {
                position: relative;
                top: -10px;
            }
            .icon {
                visibility: visible;
            }
        }
    }

    .notification.notification-history{
        .vertical-line {
            background-color: #979797;
        }
    }

    .notifications-center__list .notification .content .content-body .icon-and-description .priority-icon {
        background: url(../images/svg/exclamation_icon.svg) no-repeat;
        width: 15px;
        height: 15px;
        padding-right: 20px;
    }

    .notifications-fixed__footer{
        display: none;
    }

    .notifications-center__list .notification .info .selection {
        width: 14px;
        height: 14px;
    }

    .notification .info .priority-icon{
        display: none;      
    }

}



body {
    background-color: #F5F5F5;
}

.notifications-center {
    border: 1px solid #ECECEC;
    background-color: #FFFFFF;
}

.notifications-center__icon {
    background: url("../images/svg/notification-centre-icon.svg") no-repeat center;
    width: 36px;
    height: 38px;
    padding: 5px;
    //TODO replace with smiles main colour
    background-color: #FF5A00;
    cursor: pointer;

    .badge-circle {
        //TODO replace with smiles main colour
        background-color: #E74646;
        border: 1.2px solid #FFFFFF;
        border-radius: 100%;
        width: 20px;
        height: 20px;
        position: relative;
        right: -15px;
        top: -1px;
        text-align: center;
        line-height: 16px;

        .badge-text {
            color: #FFFFFF;
            //TODO replace with smiles main font-family
            font-family: $regularFontFamily;
            font-size: 10px;
            font-weight: 700;            
        }
    }
}

.notifications-center__header {
    //TODO change color
    background-color: #FFFFFF;
    border: 1px solid #ECECEC;
    border-bottom-width: 0px;
    padding-top: 10px;

    .title {
        //TODO change color
        color: #FF5A00;
        font-family: $regularFontFamily;
        font-size: 20px;
        font-weight: 700;
        line-height: 22px;
        text-align: left;
        padding-bottom: 30px;
        padding-left: 24px;
    }


    .filter-input::placeholder {
        color: #BBBBBB;
        
    }
}

.notifications-center__list {
    border: 1px solid #ECECEC;
    border-top-width: 0px;
    
    .header {
        height: 48px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #ECECEC;
        background-color: #FFFFFF;
        width: 100%;
        
        .title {
            color: #7C7C7C;
            font-family: Nunito;
            font-size: 14px;
            font-weight: 700;
            line-height: 17px;
            text-align: left;
            padding-left: 24px;
        }

        .icon {
            margin-right: 15px;
            width: 36px;
            height: 38px;
        }

        .icon__archive {
            background: url("../images/svg/archive-icon.svg") no-repeat right;
        }

        .icon__archive--disabled {
            opacity: 0.5;
        }

        .icon-arrow-hide {
            background: url("../images/svg/arrow-up.svg") no-repeat right;
            cursor: pointer;
        }

        .icon-arrow-show {
            background: url("../images/svg/arrow-down.svg") no-repeat right;
            cursor: pointer;
        }

        .icon:not(.icon__archive--disabled):hover {
            cursor: pointer;
        }
    }

    .empty-list {
        box-shadow: 0 1px 3px 0 rgba(216, 216, 216, 0.5);
        background-color: #FFFFFF;
        height: 65px;
        display: flex;
        align-items: center;
        
        .message {
            color: #7C7C7C;
            font-family: $regularFontFamily;
            font-size: 14px;
            font-weight: 400;
            line-height: 17px;
            margin-left: 25px;
        }
    }

    .notification {
        // border: 1px solid #ECECEC;
        // border-top-width: 0px;
        // background-color: #FFFFFF;
        // height: 90px;
        // display: flex;
        // flex-direction: row;

        // .vertical-line {
        //     width: 3px;
        //     background-color: #FF5A00;
        //     border-top-right-radius: 50px;
        //     border-bottom-right-radius: 50px;
        //     height: 90%;
        //     position: relative;
        //     top: 4px;
        // }

        
        
        .info {
            
            // .selection {
            //     width: 14px;
            //     height: 14px;
            //     margin-right: 20px;
            // }

            .archive-option {
                // display: flex;
                // flex-direction: column;
                // align-items: center;

                .date {
                    color: #7C7C7C;
                    font-family: $regularFontFamily;;
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 14px;
                    text-align: left;
                }

                .icon {
                    background: url("../images/svg/archive-icon.svg") no-repeat center;
                    background-size: 20px;
                    width: 100%;
                    height: 20px;
                    opacity: 0.5;
                    cursor: pointer;
                    visibility: hidden;
                }
            }
            
        }

        .content {
            // width: 85%;
            // display: flex;
            // align-items: center;
            
            .content-body {
                // display: flex;
                // flex-direction: column;
                // min-width: 75%;
                
                .icon-and-description {
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    // .priority-icon {
                    //     background: url("../images/svg/exclamation_icon.svg") no-repeat;
                    //     width: 15px;
                    //     height: 15px;
                    //     padding-right: 20px;
                    // }

                    .description {
                        color: #7C7C7C;
                        font-family: $regularFontFamily;;
                        font-size: 12px;
                        font-weight: 700;
                        line-height: 15px;
                        text-align: left;
                        padding-right: 15px;
                    }
                }

                .content-footer {
                    display: block;
                    color: #7C7C7C;
                    font-family: $regularFontFamily;
                    font-size: 9px;
                    font-weight: 400;
                    line-height: 11px;
                    text-align: left;
                    opacity: 0.6;
                    padding-top: 5px;
                }
            }


            .action:hover {
                cursor: pointer;
            }
        }
    }

    .notification-history {

        .info {
            opacity: 0.6;
            .selection {
                display: none;
            }
        }

        .content {
            .description {
                opacity: 0.6;
            }
        }
    }


}

.notifications-center-footer {
    
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .message {
        margin-right: auto;
        color: #7C7C7C;
        font-family: $boldFontFamily;
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
        text-align: left;
    }

    .pagination {
        margin-top: 20px;
        display: flex;
        
        .pagination-icon {
            cursor: pointer;
            width: 45px;
            height: 45px;
            opacity: 0.8;
        }

        .icon-right {
            background: url("../images/svg/seta-dir-paginacao.svg") no-repeat center;
        }
    
        .icon-left {
            background: url("../images/svg/seta-esq-paginacao.svg") no-repeat center;
        }

        .pagination-icon--disabled {
            cursor: default;
            opacity: 0.4;
        }

        .pagination-number {
            background-color: transparent;
            width: 45px;
            height: 45px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            
            .text {
                color: #a2a2a2;
                font-family: $regularFontFamily;
                font-size: 12px;
                font-weight: 600;
                line-height: 14px;
            }
        }

        .pagination-number--selected {
            cursor: default;
            border-radius: 3px;
            background: #FFFFFF;
        }
    }

}

#list-footer{
    height: 130px;
}

.input_filter_wrapper{
    display: flex;
    height: 60px;
    padding-right: 25px;
    .filter-input{
        float: left;
    }
}

#notificationFooterFixed{
    .notifications-fixed__footer--non-visible{
        visibility: hidden;
    }
}

.bg__toggle {
    background-color: #f5f5f5 !important;
    border: 1px solid #BBBBBB !important;
}