<div class="notifications-center__header">
    <div class="title">Central de notifica&ccedil;&otilde;es</div>
    <div class="input_filter_wrapper">
        <input type="text" class="filter-input" placeholder="Buscar palavra-chave">
        <div class="icon search-icon"></div>
    </div>
</div>

