<div class="notifications-fixed__footer">
    <div class="footer_fixed_wrapper">
        <div class="selection_counter">2</div>
        <div class="archive-icon"></div>
        <div class="cancel-archive">x</div>
    </div>
</div>

