<div id="notificationsHeader">
</div>

<div id="notificationsNew">
    <div class="notifications-center__list">
        <div class="header">
            <div class="title">Novas</div>
            <div class="icon icon__archive icon__archive--disabled" id="mainArchiveIcon"></div>
        </div>
        <div id="list-content">
        </div>
    </div>
    <div class="notifications-center-footer">
        <span class="message">As notificações podem demorar até 15 minutos para serem processadas.</span>
        <div id="pagination">
        </div>
    </div>
</div>

<br><br>

<div id="notificationsHistory">
    <div class="notifications-center__list">
        <div class="header">
            <div class="title">Histórico</div>
            <div class="icon icon-arrow-hide" id="toggleListIcon"></div>
        </div>
        <div id="list-content">
        </div>
    </div>
    <div class="notifications-center-footer" id="list-footer">
        <span class="message">As notificações ficarão disponíveis pelo período de 6 meses após o envio.</span>
        <div id="pagination">
        </div>
    </div>
</div>



