<div class="notifications-center__list">

    <div class="header">
        <div class="title">Novas</div>
        <div class="icon icon__archive icon__archive--disabled"></div>
    </div>

    <div class="notification">
        <div class="vertical-line"></div>
        <div class="info">
            <div class="selection">
                <input name="options" type="checkbox" id="options1"/>
                <label for="options1"></label>
            </div> 
            <div class="archive-option">
                <div class="date">16/06/2018</div>
                <div class="icon"></div>
            </div>
        </div>
        <div class="content">
            <div class="content-body">
                <div class="icon-and-description">
                    <div class="priority-icon"></div>
                    <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eu tincidunt massa, eu rhoncus nisl. Nullam cursus interdum nulla, eget varius lorem dignissim non. Duis et felis feugiat, porttitor massa eget, aliquet orci.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eu tincidunt massa, eu rhoncus nisl. Nullam cursus interdum nulla.</div>
                </div>
            </div>
            <button class="action">Preferências</button>
        </div>
    </div>

    <div class="notification">
        <div class="vertical-line"></div>
        <div class="info">
            <div class="selection">
                <input name="options" type="checkbox" id="options2"/>
                <label for="options2"></label>
            </div> 
            <div class="archive-option">
                <div class="date">16/06/2018</div>
                <div class="icon"></div>
            </div>
        </div>
        <div class="content">
            <div class="content-body">
                <div class="icon-and-description">
                    <div class="description">Você recebeu um convite pendente para participar do Conta Familia e tem até 3 dias para aceitar ou recusar antes que o convite expire Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eu tincidunt massa, eu rhoncus nisl.</div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="notification">
        <div class="vertical-line"></div>
        <div class="info">
            <div class="selection">
                <input name="options" type="checkbox" id="options3"/>
                <label for="options3"></label>
            </div> 
            <div class="archive-option">
                <div class="date">16/06/2018</div>
                <div class="icon"></div>
            </div>
        </div>
          <div class="content">
            <div class="content-body">
                <div class="icon-and-description">
                    <div class="priority-icon"></div>
                    <div class="description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eu tincidunt massa, eu rhoncus nisl. Nullam cursus interdum nulla, eget varius lorem dignissim non. Duis et felis feugiat, porttitor massa eget, aliquet orci.Lorem ipsum dolor sit amet.
                    </div>
                </div>
            </div>
            <button class="action">Regularize já</button>
        </div>
    </div>

</div>

<div class="notifications-center-footer">
    <span class="message">As notificações podem demorar até 15 minutos para serem processadas.</span>
</div>

<br><br><br>

<div class="notifications-center__list">

    <div class="header">
        <div class="title">Histórico</div>
        <div class="icon icon-arrow-hide"></div>
    </div>

    <div class="notification notification-history">
        <div class="vertical-line"></div>
        <div class="info">
            <div class="selection">
                <input name="options" type="checkbox" id="options1"/>
                <label for="options1"></label>
            </div> 
            <div class="archive-option">
                <div class="date">16/06/2018</div>
                <div class="icon"></div>
            </div>
        </div>
        <div class="content">
            <div class="content-body">
                <div class="icon-and-description">
                    <div class="priority-icon"></div>
                    <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eu tincidunt massa, eu rhoncus nisl. Nullam cursus interdum nulla, eget varius lorem dignissim non. Duis et felis feugiat, porttitor massa eget, aliquet orci.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eu tincidunt massa, eu rhoncus nisl. Nullam cursus interdum nulla.</div>
                </div>
                <div class="content-footer">Lida em: 17/06/2018</div>
            </div>
            <button class="action">Preferências</button>
        </div>
    </div>

    <div class="notification notification-history">
        <div class="vertical-line"></div>
        <div class="info">
            <div class="selection">
                <input name="options" type="checkbox" id="options2"/>
                <label for="options2"></label>
            </div> 
            <div class="archive-option">
                <div class="date">16/06/2018</div>
                <div class="icon"></div>
            </div>
        </div>
        <div class="content">
            <div class="content-body">
                <div class="icon-and-description">
                    <div class="description">Você recebeu um convite pendente para participar do Conta Familia e tem até 3 dias para aceitar ou recusar antes que o convite expire Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eu tincidunt massa, eu rhoncus nisl.</div>
                </div>
                <div class="content-footer">Lida em: 17/06/2018</div>
            </div>
        </div>
    </div>
    
    <div class="notification notification-history">
        <div class="vertical-line"></div>
        <div class="info">
            <div class="selection">
                <input name="options" type="checkbox" id="options3"/>
                <label for="options3"></label>
            </div> 
            <div class="archive-option">
                <div class="date">16/06/2018</div>
                <div class="icon"></div>
            </div>
        </div>

        <div class="content">
            <div class="content-body">
                <div class="icon-and-description">
                    <div class="priority-icon"></div>
                    <div class="description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eu tincidunt massa, eu rhoncus nisl. Nullam cursus interdum nulla, eget varius lorem dignissim non. Duis et felis feugiat, porttitor massa eget, aliquet orci.Lorem ipsum dolor sit amet.
                    </div>
                </div>
                <div class="content-footer">Lida em: 17/06/2018</div>
            </div>
            <button class="action">Regularize já</button>
        </div>
    </div>
</div>

<div class="notifications-center-footer">
    <span class="message">As notificações ficarão disponíveis pelo período de 6 meses após o envio.</span>
    <div class="pagination">
        <div class="pagination-icon pagination-icon--disabled  icon-left"></div>
        <div class="pagination-number"><span class="text">1</span></div>
        <div class="pagination-number pagination-number--selected"><span class="text">2</span></div>
        <div class="pagination-number"><span class="text">3</span></div>
        <div class="pagination-number"><span class="text">4</span></div>
        <div class="pagination-number"><span class="text">5</span></div>
        <div class="pagination-icon icon-right"></div>
    </div>
</div>

