<div>
    <div id="notifications-icon" class="notifications-center__icon">
        <div class="badge-circle">
            <span class="badge-text">{{count}}</span>    
        </div>
    </div>
</div>