<div>
    <div id="notifications-icon" class="notifications-center__icon" onClick="_.bind(openNotificationsCentrePage,{{controller}})"> 
        <div class="badge-circle">
            <span class="badge-text">{{model.count}}</span>    
        </div>
    </div>
    <div>
        <input type="text" id="membernumber" value="40802112">
    </div>
</div>