<div class="notifications-fixed__footer--non-visible">
    <div class="footer_fixed_wrapper">
        <div class="selection_counter">{{this.selectionCount}}</div>
        <div id="mainArchiveIconMobile" class="archive-icon"></div>
        <div id="uncheckAllMobile" class="cancel-archive">x</div>
    </div>
</div>

